<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>optimizer </title>
</head>

<body>

    <h1>optimized food items </h1>

    <% for(let it of ans){ %>

        <ul><li><%=it.name%></li></ul>

    <% } %>

    </form>

</body>

</html>