<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>optimizer </title>
</head>

<body>

    <h1>Add A meal</h1>
    <form action="/main" method="POST">
        <label for="calorie">input calories</label>
        <input type="number" name="calorie" id="calorie" placeholder="calorie">





        <button>Submit</button>
    </form>

</body>

</html>