<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All items</title>
</head>

<body>
    <h1>item!</h1>
    <ul>
        <% for(let item of items) { %>
        <li><a href="/items/<%=item._id%>"><%= item.name %></a> </li>
        <% }%>
    </ul>
    <a href="/items/new">New item</a>
    <%if(category !== 'All') {%>
    <a href="/items">All items</a>
    <% } %>

</body>

</html>